{% extends "base.html" %} {% load static %} {% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6">
      <img src="{{ product.image.url }}" alt="Product Image" class="img-fluid" />
    </div>
    <div class="col-lg-6">
      {% if product.is_sale %}
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: $<strike>{{ product.price }}</strike></p>
      <p>Sale: ${{ product.sale_price }}</p>
      {% else %}
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      {% endif %}
      <button class="btn btn-primary" type="button" id="add-cart" value="{{ product.id }}">Add to Cart</button>
    </div>
  </div>
</div>

<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== "") {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        // Lấy giá trị của cookie nếu tên cookie khớp
        if (cookie.substring(0, name.length + 1) === name + "=") {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  $(document).on("click", "#add-cart", function (e) {
    e.preventDefault();
    var productId = $(this).val(); // Lấy giá trị product id từ nút button
    var csrfToken = getCookie("csrftoken"); // Lấy CSRF token từ cookie
    $.ajax({
      type: "POST",
      url: '{% url "cart_add" %}',
      data: {
        product_id: productId, // Sử dụng product_id thay vì product.id
        csrfmiddlewaretoken: csrfToken, // Sử dụng csrfmiddlewaretoken thay vì csrf_token
        action: "post",
      },
      success: function (json) {
        console.log(json);
      },
      error: function (xhr, errmsg, error) {
        console.log(xhr.responseText); // In ra lỗi nếu có
      },
    });
  });
</script>

{% endblock content %}
