{% extends "base.html" %} {% block content %}
<div class="container p-4 mt-5">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center">Register</h4>
          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %} {{form.as_p}}
            <span>you already have an account? </span> <a href="/login/">Login</a>
            <br />
            <div class="text-center mt-2"><button type="submit" class="btn btn-primary">Register</button><br /></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
