{% extends "base.html" %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- Start Header/Navigation -->
  <!-- End Header/Navigation -->
  {% block content %}
  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Shop</h1>
            <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
            <p><a href="" class="btn btn-secondary me-2">Buy now</a><a href="#" class="btn btn-white-outline">Explore</a></p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-img-wrap">
            <img src="{% static 'images/couch.png' %}" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->
  <div class="untree_co-section product-section before-footer-section">
    <div class="container">
      <div class="row" id="product-list">
        <!-- Start Column 1 -->
        {% for product in products %} {% if product.is_sale %}
        <div class="col-12 col-md-4 col-lg-3 mb-5 product-item">
          <span class="wdp-ribbon wdp-ribbon-two">Sale</span>
          <a class="product-link" href="/detail/">
            <img src="{{ product.image.url }}" class="img-fluid product-thumbnail" />
            <h3 class="product-title">{{ product.name }}</h3>
            {% comment %} <strong class="product-price">${{product.sale_price}}</strong>&nbsp; {% endcomment %} <strike class="product-price">${{product.price}}</strike> <br />
            <strong class="product-price">${{product.sale_price}}</strong>
            <span class="icon-cross">
              <img src="{% static 'images/cross.svg' %}" class="img-fluid" />
            </span>
          </a>
        </div>
        {% else %}
        <div class="col-12 col-md-4 col-lg-3 mb-5 product-item">
          <a class="product-link" href="/detail/">
            <img src="{{ product.image.url }}" class="img-fluid product-thumbnail" />
            <h3 class="product-title">${{ product.name }}</h3>
            <strong class="product-price">${{product.price}}</strong>
            <span class="icon-cross">
              <img src="{% static 'images/cross.svg' %}" class="img-fluid" />
            </span>
          </a>
        </div>
        {% endif %} {% endfor %}
      </div>
      <div class="text-center mt-4">
        <div id="pagination"></div>
      </div>
    </div>
  </div>
  {% endblock %}
</html>
